<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Моя визитная карточка</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="card">
        <h1>Привет, мир!</h1>
        <p>Меня зовут <b>Саша</b>, мне 12 лет, я только учусь делать сайты!</p>
        <img src="/static/image/photo.jpeg" alt="Это я!" width="300px">
        <hr>
        <h3>Я в социальных сетях:</h3>
        <ul>
            <li><a href="https://vk.com/geekbrainsru">ВКонтакте</a></li>
            <li><a href="https://geekbrains_ru.t.me/">Telegram</a></li>
        </ul>
    </div>
</body>
</html>


