<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Шрифты сайта -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Стили проекта -->
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Сайт Матвея | Главная</title>
</head>

<body class="d-flex flex-column">
    <div class="content flex-grow-1">
        <div class="top">
            <div class="container d-flex flex-column h-100">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/index/"><img src="/static/img/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" href="/index/">Обо мне</a>
                            <a class="nav-link" href="/blog/">Блог</a>
                            <a class="nav-link" href="/contacts/">Контакты</a>
                        </div>
                    </div>
                </nav>
                <div class="d-flex flex-column justify-content-center flex-grow-1">
                    <h1>Привет!</h1>
                    <h1>Меня зовут Матвей</h1>
                    <p class="top__text">Добро пожаловать на мою страницу</p>
                </div>
            </div>
        </div>
        <div class="about" id="about">
            <div class="container">
                <div class="row about d-flex justify-content-center align-items-center">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img class="w-75" src="/static/img/about-photo.png" alt="my photo">
                    </div>
                    <div class="col-md-5">
                        <h2 class="heading">Еще раз привет!</h2>
                        <p class="text">Я начинающий разработчик на Python и это мой первый сайт. Я живу и учусь в
                            Москве,
                            в свободное время играю в компьютерные игры и гуляю с друзьями.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container why">
            <h2 class="heading text-center mb-3">Почему мне нравится<br>программировать?</h2>
            <div class="row text-center">
                <div class="col-md-4 d-flex flex-column justify-content-end">
                    <div class="card">
                        <img src="/static/img/blog-1.svg" alt="photo">
                        <div class="card-box">
                            <p class="card-text pl-5 pr-5 mt-3">С помощью программирования я могу создавать полезные
                                сайты и делать мир
                                удобнее.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex flex-column justify-content-end">
                    <div class="card">
                        <img src="/static/img/blog-2.svg" alt="photo">
                        <div class="card-box">
                            <p class="card-text pl-5 pr-5 mt-3">В программировании много интересных задач, никогда не соскучишься!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex flex-column justify-content-end">
                    <div class="card">
                        <img src="/static/img/blog-3.svg" alt="photo">
                        <div class="card-box">
                            <p class="card-text pl-5 pr-5 mt-3">В программировании ты сразу видишь результат своих усилий.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container d-flex justify-content-between flex-wrap">
            <a href="https://geekbrains.ru/"><img src="/static/img/logo.svg" alt="logo"></a>
            <div class="icons">
                <a href="https://vk.com/geekbrainsru"><img src="/static/img/vk.svg" alt="vk"></a>
                <a href="https://telegram.me/geekbrains_ru"><img src="/static/img/telegram.svg" alt="telegram"></a>
                <a href="https://www.youtube.com/user/progliveru"><img src="/static/img/youtube.svg" alt="youtube"></a>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</body>

</html>
