{% extends 'base.html' %}

{% block content %}
<div class="content flex-grow-1">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/index/"><img src="/static/img/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/index/">Обо мне</a>
                    <a class="nav-link active" href="/blog/">Блог</a>
                    <a class="nav-link" href="/contacts/">Контакты</a>
                </div>
            </div>
        </nav>
        <h1 class="text-dark pt-5 pb-5">Блог</h1>
        <div class="row pb-5">
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card blog-card mb-4">
                    <img src="/static/img/blog-photo-1.png" class="card-img-top" alt="photo">
                    <div class="card-body blog-content">
                        <h5 class="blog-heading pb-3">Чёртова дюжина ошибок начинающего программиста</h5>
                        <p class="blog-text">У каждого из нас имеется собственный компьютер на углеродной основе — головной мозг. Мощный, продуктивный и чрезвычайно сложный. Но, увы, подверженный сбоям и ошибкам. Баги заметили ещё в античности, а древние римляне запротоколировали их в краткой и ёмкой формуле: «Человеку свойственно ошибаться».</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card blog-card mb-4">
                    <img src="/static/img/blog-photo-2.png" class="card-img-top" alt="photo">
                    <div class="card-body blog-content">
                        <h5 class="blog-heading pb-3">Как учить Python: девять кратких практических советов</h5>
                        <p class="blog-text">Python уже не один год уверенно занимает место среди самых популярных языков программирования. На нём можно писать любые программы, но сегодня основной сферой для него стал искусственный интеллект и всё, что с ним связано — data science, машинное обучение, анализ данных, нейронные сети. Кроме того, Python популярен в веб-разработке. Среди новейших направлений Python является лидером в квантовых вычислениях и квантовом машинном обучении.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card blog-card mb-4">
                    <img src="/static/img/blog-photo-3.png" class="card-img-top" alt="photo">
                    <div class="card-body blog-content">
                        <h5 class="blog-heading pb-3">Тренды среди языков программирования в 2020 году</h5>
                        <p class="blog-text">Все, кто хочет связать свою жизнь с программированием, задумываются о том, на какой язык замахнуться. Здесь важно не только понимать, как обстоят дела сегодня, но и следить за трендами — ведь к тому времени, как обучение закончится, что-нибудь в картине мира наверняка поменяется.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
